### Importing datasets

In [1]:
import seaborn as sns

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [7]:
df=sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
### Divide the dataset into independent and dependent dataset

y=df['tip']
X=df[df.columns.difference(['tip'])]

In [10]:
X.head()

   day     sex  size smoker    time  total_bill
0  Sun  Female     2     No  Dinner       16.99
1  Sun    Male     3     No  Dinner       10.34
2  Sun    Male     3     No  Dinner       21.01
3  Sun    Male     2     No  Dinner       23.68
4  Sun  Female     4     No  Dinner       24.59

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [13]:
X['day']=X['day'].cat.codes
X['sex']=X['sex'].cat.codes
X['smoker']=X['smoker'].cat.codes
X['time']=X['time'].cat.codes

<ipython-input-13-94ad230a0023>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['day']=X['day'].cat.codes
<ipython-input-13-94ad230a0023>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['sex']=X['sex'].cat.codes
<ipython-input-13-94ad230a0023>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['smoker']=X['smoker'].cat.codes
<ipython-input-13-94ad230a0023>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['time']=X['time'].cat.codes

In [14]:
X

     day  sex  size  smoker  time  total_bill
0      3    1     2       1     1       16.99
1      3    0     3       1     1       10.34
2      3    0     3       1     1       21.01
3      3    0     2       1     1       23.68
4      3    1     4       1     1       24.59
..   ...  ...   ...     ...   ...         ...
239    2    0     3       1     1       29.03
240    2    1     2       0     1       27.18
241    2    0     2       0     1       22.67
242    2    0     2       1     1       17.82
243    0    1     2       1     1       18.78

[244 rows x 6 columns]

In [15]:
### Train Test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.75,random_state=1)

In [16]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=200).fit(X_train,y_train)

### Lets Understand Our Model With Shapash

In [17]:
from shapash.explainer.smart_explainer import SmartExplainer

In [18]:
xpl = SmartExplainer()

In [19]:
xpl.compile(
    x=X_test,
    model=regressor,
   
)

Backend: Shap TreeExplainer

In [20]:
xpl

### Lets Understand the results of our trained model

In [21]:
app = xpl.run_app(title_story='Tips Dataset')

C:\Users\SWARNAVA\anaconda3\envs\edaa\lib\site-packages\pandas\core\frame.py:1549: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:root:Your Shapash application run on http://LAPTOP-F7256D29:8050/
INFO:root:Use the method .kill() to down your app.

Dash is running on http://0.0.0.0:8050/

INFO:shapash.webapp.smart_app:Dash is running on http://0.0.0.0:8050/

 * Serving Flask app 'shapash.webapp.smart_app' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

WARNING:werkzeug: * Running on all addresses.
   WARNING: This is a development server. Do not use it in a production deployment.
INFO:werkzeug: * Running on http://192.168.0.104:8050/ (Press CTRL+C to quit)
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET / HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET /assets/material-icons.css?m=1625007411.2839186 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET /assets/style.css?m=1625007411.3018906 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET /_dash-component-suites/dash_renderer/react@16.v1_8_3m1625007376.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET /_dash-component-suites/dash_renderer/polyfill@7.v1_8_3m1625007376.8.7.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:43] "GET /_dash-component-suites/dash_renderer/react-dom@16.v1_8_3m1625007376.14.0.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_html_components/dash_html_components.v1_1_1m1625007379.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_daq/dash_daq.v0_5_0m1624991993.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_renderer/prop-types@15.v1_8_3m1625007376.7.2.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_table/bundle.v4_11_0m1625007376.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /assets/main.js?m=1625007411.280924 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_9_1m1625007409.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_core_components/dash_core_components-shared.v1_13_0m1625007382.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /assets/jquery.js?m=1625007411.2779253 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_core_components/dash_core_components.v1_13_0m1625007382.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:44] "GET /_dash-component-suites/dash_renderer/dash_renderer.v1_8_3m1625007376.min.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:48] "GET /_dash-dependencies HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:48] "GET /_dash-layout HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:48] "GET /assets/favicon.ico?m=1625007411.2729378 HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /_dash-component-suites/dash_core_components/async-dropdown.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /_dash-component-suites/dash_core_components/async-graph.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /_dash-component-suites/dash_table/async-table.v4_11_0m1604001235.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /_dash-component-suites/dash_core_components/async-slider.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /assets/shapash-fond-fonce.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /assets/settings.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /assets/reload.png HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:49] "GET /_dash-component-suites/dash_core_components/async-plotlyjs.v1_13_0m1604001894.js HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:50] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:52] "POST /_dash-update-component HTTP/1.1" 200 -
C:\Users\SWARNAVA\anaconda3\envs\edaa\lib\site-packages\pandas\core\frame.py:1549: FutureWarning:

Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:52] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:56] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:56] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:56] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:56] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:59] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:36:59] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:01] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:23] "POST /_dash-update-component HTTP/1.1" 204 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:23] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:28] "POST /_dash-update-component HTTP/1.1" 204 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:28] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:35] "POST /_dash-update-component HTTP/1.1" 200 -
INFO:werkzeug:192.168.0.104 - - [30/Jun/2021 15:37:35] "POST /_dash-update-component HTTP/1.1" 200 -

In [22]:
predictor = xpl.to_smartpredictor()

In [23]:
predictor.save('./predictor.pkl')

In [24]:
from shapash.utils.load_smartpredictor import load_smartpredictor
predictor_load = load_smartpredictor('./predictor.pkl')

### Make a prediction with our SmartPredictor

In [27]:
predictor_load.add_input(x=X, ypred=y)

In [28]:
detailed_contributions = predictor_load.detail_contributions()

In [29]:
detailed_contributions.head()

    tip       day       sex      size    smoker      time  total_bill
0  1.01  0.067297  0.116845 -0.009260 -0.032786 -0.007278    0.194238
1  1.66  0.109939 -0.071099  0.006948 -0.065709 -0.022068   -1.211055
2  3.50  0.069937 -0.030186  0.008944 -0.005733  0.005848    0.444697
3  3.31  0.116868 -0.027434 -0.029230  0.026784  0.004060    0.075258
4  3.61  0.028700  0.068881 -0.039201 -0.001221 -0.010371   -0.258432

### Summarize explanability of the predictions

In [30]:
predictor_load.modify_mask(max_contrib=3)

In [31]:
explanation = predictor_load.summarize()

In [32]:
explanation.head()

,tip,feature_1,value_1,contribution_1,feature_2,value_2,contribution_2,feature_3,value_3,contribution_3
0,1.01,total_bill,16.99,0.194238,sex,1.0,0.116845,day,3.0,0.067297
1,1.66,total_bill,10.34,-1.211055,day,3.0,0.109939,sex,0.0,-0.071099
2,3.50,total_bill,21.01,0.444697,day,3.0,0.069937,sex,0.0,-0.030186
3,3.31,day,3.0,0.116868,total_bill,23.68,0.075258,size,2.0,-0.02923
4,3.61,total_bill,24.59,-0.258432,sex,1.0,0.068881,size,4.0,-0.039201